body{ 
    
    /* siempre cambiar el margen predeterminado*/
    margin: 0; 
    /* margen para adentro*/
    padding: 0;
    /* tamaño de texto*/
    font-size: 12px;
    /* fuente del texto*/
    font-family: Arial, Helvetica, sans-serif;
}
/* --------------------------
-------------------------------
--------------------------------*/

/*Navegacion*/
header{ 
    background-color: rgb(246, 248, 247);
    width: 100%;
    height: 60px;
}

header nav { /*estamos centrando al elemento padre o sea el que lo contiene )header= y luego al nav*/
    background-color: rgb(247, 247, 247);
    display: flex; /*nos permite mover nuestro elemento de diferentes formas "flex"*/
    justify-content: flex-end;  /*es para alinear los elementos*/
}

header nav .nav-right-section{
    background-color: rgb(244, 250, 250);
    list-style: none; /*eliminar viñetas*/
    width: 250px;
    display: flex;
    justify-content: center; /*centra el contenido en relacion a esa sección derecha izquierda*/
    align-items: center; /*centra el contenido en relacion arriba y abajo*/
    /*altura (automatica al tamaño del elemento) */
    height: auto;

}

nav .nav-right-section a{
    /*color de texto*/
    color: rgb(21, 21, 21);
        /*para eliminar el subrayado*/
    text-decoration: none; 
    margin-right: 25px; /*genera un margen a la derecha solamente incluso entre los items*/

}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain; /*permite adecuar el tamaño del icono/imagen al tamaño de la sección*/
    margin-right: 20px;

}

nav .nav-right-section img{
    margin-left: 5px; /*margen a la izquierda solamente en la foto de peril*/
    border-radius: 100px; /*redondear*/
}

/* --------------------------
-------------------------------
--------------------------------*/

/*Main*/

main{
    text-align: center; /*se centran los elementos que pertenecen al main*/
    margin-top: 100px;
}

main .main-logo{ /*aqui se está editando la sección o caja donde esta el logo, no el logo ya que es una imagen ya cargada*/
    
    width: 530px;
    margin: 0 auto;
    margin-bottom: 25px; /*para poner espacio entre el buscador y el logo*/
}
main .main-logo img{ /*aquie editamos la imagen */
    height: 100px;
    
}

/*Seccion input*/
main .main-imput{
    /*background-color: rgb(248, 243, 243);*/
    width: 550px;
    margin:0 auto;
    margin-bottom: 25px;
}

main .main-imput-container{
    /*background-color: rgb(255, 249, 249);*/
    border: 1px solid #e7dfdf; /*ancho de linea, estilo y color*/
    border-radius: 100px;
    width: 525px; /*ancho*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



main .main-imput input{
    background-color: rgb(255, 255, 255);
    height: 40px; /*altura*/
    width: 430px;
    border: none; /*quita el border negro de la cajita del input*/
    outline: none; /*quita el border azul al hacer clic en el input*/
    
    
}

/*icono lupa*/
main .main-imput .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position: center;
    width: 20px;
    height: 15px; /*si el icono es cuadrado recomiendo colorcar tanto ancho como alto*/
    background-size: contain; 
    padding-left: 6%;
    background-repeat: no-repeat; /*para no repetir la imagen agregada*/
}


/*icono microfono*/
main .main-imput .micro-icon{
    background-image: url(/images/Google_mic.svg.png);
    width: 20px;
    height: 20px;
    background-size: contain; 
    background-position: center;
    padding-left: 17px; /*el margen dentro de la imagen*/
    background-repeat: no-repeat; /*para no repetir la imagen agregada*/
    
    
}

/*icono camara*/
main .main-imput .cam-icon{
    background-image: url(/images/Google_Lens_2021.svg);
    width: 20px;
    height: 20px;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat; /*para no repetir la imagen agregada*/
    padding-right: 35px;
    
}

main .main-buttons{
    /*background-color: rgb(255, 255, 255);*/
    width: 550px;
    margin: 0 auto; /*margen vertical, margen horizontal*/

}

main .main-buttons div{
    display: inline-block;  /*alinear elementos en la misma linea*/
}

main .main-buttons button{
    border: 0;
    height: 40px;
    background-color: #ecebeb;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    margin-right: 10px;
    padding: 0 15px;
    
}

main .main-imput-container:hover{ /*sombra dinamica con el :hover de la barra*/
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);

}

main .main-buttons button:hover{ /*sombra dinamica de los botones*/
    color: #202124;
    border: 1px solid #dadce0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

}

/* --------------------------
-------------------------------
--------------------------------*/

/*Footer*/
footer{
    background-color: brown;
    height: 55px;
    
    margin-top: 175px;
    display: flex; /*nos permite mover nuestro elemento de diferentes formas "flex"*/
    list-style: none;
    
}
.footer-mex{
    background-color: rgb(230, 236, 209);
    margin-bottom: 40px; 
    height: 20px; /*altura (automatica al tamaño del elemento) */
    width: auto;
    display: flex;
    justify-content: center; /*centra el contenido en relacion a esa sección derecha izquierda*/
    align-items: center; /*centra el contenido en relacion arriba y abajo*/
    margin-left: 1px;
    
}

.footer-mex a{
    color: rgb(21, 21, 21); /*color de texto*/
    text-decoration: none;
}

/*footer .footer-left .footer-mex{
    background-color: red;
    margin-bottom: 40px; /*eliminar viñetas
    height: auto; /*altura (automatica al tamaño del elemento) 
    width: 250px;
    display: flex;
    justify-content: center; /*centra el contenido en relacion a esa sección derecha izquierda
    align-items: center; /*centra el contenido en relacion arriba y abajo
    
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);

} */
footer .footer-left{
    background-color: aquamarine;
    list-style: none; /*eliminar viñetas*/
    width: 650px;
    height: 20px;
    display: flex;
    justify-content:left; /*centra el contenido en relacion a esa sección derecha izquierda*/
    margin-left: 10px;
    padding-left: 20px;
    margin-top: 25px; /*lo mueve hacia abajo*/

}

footer .footer-left a{
    background-color: violet;
    text-decoration: none; /*quitar subrayado*/
    padding-left: 35px; /*genera un margen a la izq, incluso entre los items*/
    color: rgb(21, 21, 21); /*color de texto*/

}

footer .footer-rigth{
    background-color: pink;
    list-style: none; /*eliminar viñetas*/
    width: 650px;
    display:flex;
    justify-content: flex-end;  /*es para alinear los elementos*/
    align-items: center; /*centra el contenido en relacion arriba y abajo*/
    /*altura (automatica al tamaño del elemento) */
    height: auto;
    padding-left: 5px;
}

footer .footer-rigth a{

    padding-right: 35px; /*genera un margen a la izq, incluso entre los items*/
    text-decoration: none;
    color: rgb(21, 21, 21); /*color de texto*/
}


.dropdown {
    display:inline-block;
    position: relative;
    
    }


.dropdown-content {
    bottom: 100%; /*esto ayudó a colocar hacia arriba el menu desplegable*/
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    
}
.dropdown:hover .dropdown-content {
    display: block;
    
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    
}
